<template>
    <div class="container my-5">
        <h2>Cafés</h2>
        <!-- Mostrar los cafes -->
        <div class="row">
            <div class="col-md-4 mt-4" v-for="cafe in this.cafes " v-bind:key="cafe.id">
                <div class="card">
                    <img class="card-img-top" :src="`storage/${cafe.imagen_principal}`" alt="card del restaurant" >
                    <div class="card-body">
                        <h3 class="card-title text-primary font">{{cafe.nombre}}</h3>
                        <p class="card-text">{{cafe.direccion}}</p>
                        <p class="card-text">
                            <span class="font-weight-bold">Horario:</span>
                            {{cafe.apertura}} - {{cafe.cierre}}
                        </p>
                        <!-- vue-router te permite ir a otros enlaces usando Router-link--> 
                        <!-- El to indica  la ruta y los parametros; para mostrar los detalles del establecimiento. El name: hace ref. a el name en route/index 
                        y params hace ref al parametro de la ruta, id porque debe ser el mismo nombre que se le da en route/index -->
                        <router-link :to="{ name: 'establecimiento', params: { id: cafe.id }}">
                            <a class="btn btn-primary d-block">Ver Lugar</a>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

   
    mounted()
    {
        // Consultando la API 
        axios.get('api/categorias/cafe')
            .then(respuesta => {
                /* Pasar la respuesta a cafes de los state. OBJ: Modificar el state*/
                this.$store.commit("VER_CAFES", respuesta.data);
            })

    },
    /* Para iterar el array de cafes */
    computed: {
        cafes(){
            return this.$store.state.cafes;
        }
         
    }
}
</script>