<template>
    <div class="container my-5">
        <h2>Restaurants</h2>
        <!-- Mostrar los Restaurantes -->
        <div class="row">
            <div class="col-md-4 mt-4" v-for="restaurant in this.restaurants " v-bind:key="restaurant.id">
                <div class="card">
                    <img class="card-img-top" :src="`storage/${restaurant.imagen_principal}`" alt="card del restaurant" >
                    <div class="card-body">
                        <h3 class="card-title text-primary font">{{restaurant.nombre}}</h3>
                        <p class="card-text">{{restaurant.direccion}}</p>
                        <p class="card-text">
                            <span class="font-weight-bold">Horario:</span>
                            {{restaurant.apertura}} - {{restaurant.cierre}}
                        </p>
                        <router-link :to="{ name: 'establecimiento', params: { id: restaurant.id }}">
                            <a class="btn btn-primary d-block">Ver Lugar</a>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

    mounted()
    {
        // Consultando la API 
        axios.get('api/categorias/restaurant')
            .then(respuesta => {
                this.$store.commit("VER_RESTAURANTS",respuesta.data);
            })

    },
    computed: {
        restaurants(){
            return this.$store.state.restaurants;
        }
    },
}
</script>