<template>
    <div>
        <listado-categorias></listado-categorias>
        <mapa-establecimientos></mapa-establecimientos>
        <categoria-cafe></categoria-cafe>
        <categoria-restaurant></categoria-restaurant>
        <categoria-hotel></categoria-hotel>
    </div>
</template>

<script>
/* Importando el componente ListadoCategorias.vue */
import ListadoCategorias from './ListadoCategorias';
/* Importando el componente MapaEstablecimientos.vue */
import MapaEstablecimientos from './MapaEstablecimientos';
/* Importando el componente CategoriaCafe.vue */
import  CategoriaCafe from './CategoriaCafe';
import  CategoriaRestaurant from './CategoriaRestaurant';
import  CategoriaHotel from './CategoriaHotel';


export default {

    /* Registrar los componentes */
    components: {
        ListadoCategorias,
        CategoriaCafe,
        CategoriaRestaurant,
        CategoriaHotel,
        MapaEstablecimientos
    }
}
</script>