<template>
    <div class="mapa">
        <l-map :zoom="zoom"
               :center="center"
               :options="mapOptions">
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker :lat-lng="{lat, lng}">
                <l-tooltip>
                    <dv> {{establecimiento.nombre}}</dv>
                </l-tooltip>
            </l-marker>
        </l-map>
    </div>

</template>

<script>
// Importar funcion de Latlng
import {latLng} from 'leaflet';
// Importar contenedor del mapa y el de LTileLayer, LMarker: Permite crear el pin, Ltootip: Permite mostrar un tooltip
import { LMap, LTileLayer, LMarker, LTooltip } from 'vue2-leaflet';export default {

    //Registrar el componente del mapa
    components: {
        LMap,
        LTileLayer,
        LMarker,
        LTooltip
    },
    data() {
        return {
            zoom: 16,
            center: latLng(20.666332695977, -103.392177745699),
            url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            attribution:
                '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            currentZoom: 11.5,
            mapOptions: {
                zoomSnap: 0.5
            },
            lat: "",
            lng: ""
        };
    },
    // Una vez se cree el componente
    created() {
        setTimeout(() => {
            this.lat = this.$store.getters.obtenerEstablecimiento.lat;
            this.lng = this.$store.getters.obtenerEstablecimiento.lng;
            // Para centrar el mapa
            this.center=latLng(this.lat, this.lng);
        }, 300);
    },
    /// Para obtener la variable de establecimiento
    computed: {
        establecimiento() {
            return this.$store.getters.obtenerEstablecimiento;
        }
    }

}
</script>
<style scoped>

     @import 'https://unpkg.com/leaflet@1.6.0/dist/leaflet.css';

    .mapa {
        height: 300px;
        width: 100%;
    }
</style>