<template>
    <div class="mapa">
        <!-- Para mostar el mapa, es necesario agregar los props  :zoom :center= :options  -->
        <l-map :zoom="zoom" :center="center" :options="mapOptions">
            <!--URL De la atribucion para poder mostrar el mapa, sino no se ve -->
            <l-tile-layer :url="url" :attribution="attribution" />
            <!-- Mostrar un pin por cada establecimiento --> 
             <l-marker
                v-for="establecimiento in establecimientos"
                v-bind:key="establecimiento.id"
                :lat-lng="obtenerCoordenadas(establecimiento)"
                :icon="iconoEstablecimiento(establecimiento)"
                @click="redireccionar(establecimiento.id)"
            >
                <l-tooltip>
                    <div>
                        {{establecimiento.nombre}} - {{establecimiento.categoria.nombre}}
                    </div>
                </l-tooltip>
            </l-marker>
        </l-map>
    </div>
</template>
<script>
// Importar funcion de Latlng
import {latLng} from 'leaflet';
// Importar contenedor del mapa y el de LTileLayer, LMarker: Permite crear el pin, Ltootip: Permite mostrar un tooltip; LIcon: Agrega Icono personalizado
import { LMap, LTileLayer, LMarker, LTooltip, LIcon} from 'vue2-leaflet';

export default {
    components: {
        LMap,
        LTileLayer,
        LMarker,
        LTooltip,
        LIcon
    },
    data() {
        return {
          zoom: 13,
          // Se puede cambiar segun la latitud y lng que se necesite
          center: latLng(20.666332695977, -103.392177745699),
          url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
          attribution:
            '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
          currentZoom: 11.5,
          currentCenter: latLng(20.666332695977, -103.392177745699),
          showParagraph: false,
          mapOptions: {
            zoomSnap: 0.5
          },
          showMap: true
        };
    },
    created() {
        axios.get('/api/establecimientos')
            .then(respuesta => {
                // Pasar el establecimiento a la mutation AGREGAR_ESTABLECIMIENTOS
                this.$store.commit('AGREGAR_ESTABLECIMIENTOS', respuesta.data);
            })
    },
    // Registro de funciones (sin parametros)
    computed: {
        establecimientos() {
            return this.$store.getters.obtenerEstablecimientos
        },
    },
    // Registro de metodos (con parametros)
    methods: {
        obtenerCoordenadas(establecimiento) {
            return {
                lat: establecimiento.lat,
                lng: establecimiento.lng
            }
        },
        iconoEstablecimiento(establecimiento) {
            const { slug } = establecimiento.categoria;
            return L.icon({
                // Buscar el icono en la url segun el nombre de imagen que coinciden con el slug
                iconUrl: `images/iconos/${slug}.png`,
                // Ajusta el tamanho de los iconos
                iconSize: [40,50]
            })
        },
        redireccionar(id) {
            this.$router.push({ name: 'establecimiento', params: { id }})
        }
    },
    // watch: detecte cambios, Se le debe indicar que parte del state cambiara y que hara una vez cambie
    watch: {
        // Indica al state que parte cambio
        "$store.state.categoria": function(){
            // console.log('La categoria ya cambio')
            axios.get('/api/'+ this.$store.getters.obtenerCategoria)
                .then(respuesta => {
                    // Reescribir establecimientos
                    this.$store.commit("AGREGAR_ESTABLECIMIENTOS", respuesta.data);
                })
        }
    },

}
</script>

<style scoped>
    .mapa {
        height: 600px;
        width: 100%;
    }
</style>