<template>
    <div class="container my-5">
        <h2 class="text-center mb-5">{{establecimiento.nombre}}</h2>
        <div class="row align-items-start">
            <div class="col-md-8">
                <img :src="`../storage/${establecimiento.imagen_principal}`" class="img-fluid" alt="imagen establecimiento">
                <p class="mt-2">{{establecimiento.descripcion}}</p>
                <galeria-imagenes></galeria-imagenes>
            </div>
            <aside class="col-md-4">
                <div>
                    <mapa-ubicacion></mapa-ubicacion>
                </div>

                <div class="p-4 bg-primary">
                    <h2 class="text-center text-white mt-2 mb-4">Mas Informacion</h2>
                    <p class="text-white mt-1">
                        <span class="font-weight-bold">
                            Ubicacion:
                        </span>
                        {{establecimiento.direccion}}
                    </p>
                    <p class="text-white mt-1">
                        <span class="font-weight-bold">
                            Colonia:
                        </span>
                        {{establecimiento.colonia}}
                    </p>
                    <p class="text-white mt-1">
                        <span class="font-weight-bold">
                            Horario:
                        </span>
                        {{establecimiento.apertura}} - {{establecimiento.cierre}}
                    </p>
                    <p class="text-white mt-1">
                        <span class="font-weight-bold">
                            Telefono:
                        </span>
                        {{establecimiento.telefono}}
                    </p>
                </div>
            </aside>
        </div>
    </div>
</template>

<script>
import MapaUbicacion from './MapaUbicacion';
import GaleriaImagenes from './GaleriaImagenes';
export default {
    
    components: {
        MapaUbicacion,
        GaleriaImagenes
    },
    mounted() {
 
        MapaUbicacion       // this.$route.params; es una forma de acceder a todos los parametros que se envian de un componente a otro
        // console.log(this.$route.params);
        
        const { id } = this.$route.params;
        
        axios.get('/api/establecimientos/' + id)
            .then(respuesta => {
                this.$store.commit('AGREGAR_ESTABLECIMIENTO', respuesta.data);
                console.log(respuesta.data);
            })
    },
    computed: {
        // Para poder mostrar el objeto de establecimiento
        establecimiento()
        {
            
            // return this.$store.state.establecimiento;
            // Con getters
            return this.$store.getters.obtenerEstablecimiento;
        }

    }
}
</script>

