<template>
    <div>
        <!-- Se agrega vue-page-transition-->
        <vue-page-transition name="fade-in-up">
            <!-- Cambia segun sea la ruta,
            -- el componente se reemplazara segun el vue-router -->
            <router-view></router-view>
            <!--------------------------->
        </vue-page-transition>
    </div>
</template>
<script>
    /* Importar  state's*/
    import store from '../store';
    export default {
        store
    }
</script>

